<%= javascript_include_tag "user_form_validation" %>

<%= form_with(model: user, id: "new_user") do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :birthdate, style: "display: block" %>
    <%= form.date_field :birthdate %>
  </div>

  <div>
    <%
      hobbies = Hobby.all.pluck(:name, :id)
      user_hobbies = user.hobbies.ids.uniq
    %>
    <%= form.label :hobbies, style: "display: block" %>
    <%= form.select :hobbies, hobbies, { selected: user_hobbies }, class: "js-example-basic-multiple" , multiple: true, style: "width: 150px;" %> <%= link_to "New Hobby", user_add_hobby_path(user_id: 1) %>
  </div>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>
